.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 512.6034404018199px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F0F0F0;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#page_position_content
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#pu531
{
	width: 0.01px;
	position: relative;
}

#u531
{
	z-index: 3;
	width: 960px;
	margin-right: -10000px;
}

#u531_clip
{
	width: 960px;
	height: 190px;
}

#u531_img
{
	margin-bottom: -48px;
}

#menuu333
{
	z-index: 5;
	width: 521px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 433px;
}

#u711
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u712
{
	width: 98px;
	padding-bottom: 6px;
}

#u712:hover
{
	margin: 0px;
}

#u712:active
{
	margin: 0px;
}

#u714-4
{
	width: 65px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u712:hover #u714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u712:active #u714-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u718
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u721
{
	width: 75px;
	padding-bottom: 6px;
}

#u712.MuseMenuActive,#u721:active
{
	margin: 0px;
}

#u724-4
{
	width: 42px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u712.MuseMenuActive #u714-4,#u721:hover #u724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u721:active #u724-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u725
{
	width: 89px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u726
{
	width: 89px;
	padding-bottom: 6px;
}

#u721.MuseMenuActive,#u726:active
{
	margin: 0px;
}

#u729-4
{
	width: 57px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u721.MuseMenuActive #u724-4,#u726:hover #u729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u726:active #u729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u732
{
	width: 137px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u733
{
	width: 137px;
	padding-bottom: 6px;
}

#u726.MuseMenuActive,#u733:active
{
	margin: 0px;
}

#u734-4
{
	width: 105px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u726.MuseMenuActive #u729-4,#u733:hover #u734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u733:active #u734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u739
{
	width: 114px;
	min-height: 34px;
	margin-right: -10000px;
	left: 407px;
}

#u742
{
	width: 114px;
	padding-bottom: 6px;
}

#u733.MuseMenuActive,#u742:active
{
	margin: 0px;
}

#u742.MuseMenuActive
{
	margin: 0px;
}

#u743-4
{
	width: 82px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u733.MuseMenuActive #u734-4,#u742:hover #u743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u742:active #u743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u742.MuseMenuActive #u743-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u710-4
{
	z-index: 43;
	width: 954px;
	min-height: 55px;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 20px;
}

#pamphletu1651
{
	z-index: 69;
	width: 0.01px;
	height: 227px;
	margin-left: 212px;
	margin-top: 19px;
	position: relative;
}

#u1654
{
	position: absolute;
	width: 556px;
}

#u1654popup
{
	z-index: 70;
}

#u1660
{
	z-index: 71;
	width: 554px;
	height: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	margin-right: -10000px;
	position: relative;
}

#pu1710
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 8px;
}

#u1710
{
	z-index: 72;
	width: 242px;
	position: relative;
	margin-right: -10000px;
}

#u1710_img
{
	padding-right: 23px;
	padding-bottom: 13px;
}

#u1718-3
{
	z-index: 78;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 119px;
}

#u1717-4
{
	z-index: 74;
	width: 268px;
	min-height: 178px;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 251px;
}

#u1717
{
	font-size: 14px;
}

#u1655
{
	z-index: 81;
	width: 554px;
	height: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 15px 15px 15px ;
	-webkit-border-radius: 0px 15px 15px 15px ;
	-khtml-border-radius: 0px 15px 15px 15px ;
	border-radius: 0px 15px 15px 15px ;
	margin-right: -10000px;
	position: relative;
}

#u1719
{
	z-index: 82;
	width: 251px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 4px;
}

#u1726-4
{
	z-index: 84;
	width: 228px;
	min-height: 154px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 280px;
}

#u1665
{
	z-index: 88;
	width: 554px;
	height: 189px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 15px 0px ;
	-webkit-border-radius: 15px 15px 15px 0px ;
	-khtml-border-radius: 15px 15px 15px 0px ;
	border-radius: 15px 15px 15px 0px ;
	margin-right: -10000px;
	position: relative;
}

#u1702
{
	z-index: 89;
	width: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 7px;
}

#u1709-7
{
	z-index: 91;
	width: 313px;
	min-height: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 189px;
}

#u1672
{
	z-index: 98;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 209px;
}

#u1674
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1674:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FDD79D;
	-moz-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin: 0px;
}

#u1674.PamphletThumbSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u1673
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 41px;
}

#u1673:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FDD79D;
	-moz-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	background-color: #999999;
	margin: 0px;
}

#u1675
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 80px;
}

#u1675:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FDD79D;
	-moz-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	border-color: #000000;
	background-color: #999999;
	margin: 0px;
}

#u1673.PamphletThumbSelected,#u1675.PamphletThumbSelected
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF;
	-moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1616-22
{
	width: 0.01px;
	margin-left: 177px;
	margin-top: 27px;
	position: relative;
}

#u1616-22
{
	z-index: 47;
	width: 606px;
	min-height: 227px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u1616-2
{
	font-size: 32px;
	line-height: 38px;
}

#u1616-18
{
	font-size: 19px;
	line-height: 23px;
}

#u1616-3,#u1616-5,#u1616-6,#u1616-8,#u1616-9,#u1616-11,#u1616-12,#u1616-14,#u1616-15,#u1616-19,#u1616-20
{
	font-size: 24px;
	line-height: 29px;
}

#u1979
{
	z-index: 102;
	width: 471px;
	height: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 62px;
	border-width: 1px 0px 0px;
}

#pu290
{
	width: 0.01px;
	left: -7px;
	margin-top: 1px;
	position: relative;
}

#u290
{
	z-index: 2;
	width: 960px;
	padding-bottom: 21px;
	margin-right: -10000px;
	left: 7px;
}

#u1761-4
{
	z-index: 36;
	width: 238px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 702px;
}

#u1762
{
	z-index: 41;
	height: 110px;
	width: 153px;
	margin-bottom: -25px;
	margin-right: -10000px;
	margin-top: -25px;
	left: -27px;
}

#page .verticalspacer
{
	clear: both;
}

