#u1453-3
{
	position: relative;
}

#u1454
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #F0F0F0;
	position: relative;
	border-width: 0px 4px 4px 0px;
}

#u1455-4
{
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	position: relative;
}

#u1455
{
	font-size: 20px;
}

#u1456-4
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u1456-4:hover
{
	border-style: none;
	border-color: transparent;
}

#u1456-4.MuseLinkActive
{
	border-color: #000000;
}

#u1456-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u1457-4
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u1457-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u1459
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1768-4
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u1768-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u1456-4.MuseLinkActive p,#u1457-4.MuseLinkActive p,#u1768-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
	text-decoration: underline;
}

