.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 680px;
	background-image: none;
	border-style: solid;
	border-color: #000000;
	background-color: #F0F0F0;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	border-width: 1px 2px;
}

#u2818
{
	z-index: 2;
	width: 960px;
	min-height: 1565px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
}

#u2878
{
	z-index: 3;
	width: 960px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#u2878_clip
{
	width: 960px;
	height: 190px;
}

#u2878_img
{
	margin-bottom: -48px;
}

#menuu2828
{
	z-index: 5;
	width: 507px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 433px;
}

#u2836
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2839
{
	width: 98px;
	padding-bottom: 6px;
}

#u2839:hover
{
	margin: 0px;
}

#u2839:active
{
	margin: 0px;
}

#u2842-4
{
	width: 65px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2839:hover #u2842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2839:active #u2842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2829
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u2830
{
	width: 75px;
	padding-bottom: 6px;
}

#u2839.MuseMenuActive,#u2830:active
{
	margin: 0px;
}

#u2831-4
{
	width: 42px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2839.MuseMenuActive #u2842-4,#u2830:hover #u2831-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2830:active #u2831-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2869
{
	width: 89px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u2872
{
	width: 89px;
	padding-bottom: 6px;
}

#u2830.MuseMenuActive,#u2872:active
{
	margin: 0px;
}

#u2874-4
{
	width: 57px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2830.MuseMenuActive #u2831-4,#u2872:hover #u2874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2872:active #u2874-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2862
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2863
{
	width: 123px;
	padding-bottom: 6px;
}

#u2872.MuseMenuActive,#u2863:active
{
	margin: 0px;
}

#u2866-4
{
	width: 91px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2872.MuseMenuActive #u2874-4,#u2863:hover #u2866-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2863:active #u2866-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2855
{
	width: 114px;
	min-height: 34px;
	margin-right: -10000px;
	left: 393px;
}

#u2858
{
	width: 114px;
	padding-bottom: 6px;
}

#u2863.MuseMenuActive,#u2858:active
{
	margin: 0px;
}

#u2858.MuseMenuActive
{
	margin: 0px;
}

#u2860-4
{
	width: 82px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2863.MuseMenuActive #u2866-4,#u2858:hover #u2860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2858:active #u2860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2858.MuseMenuActive #u2860-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2626-4
{
	z-index: 36;
	width: 314px;
	min-height: 66px;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 323px;
}

#page .verticalspacer
{
	clear: both;
}

