@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F0F0F0;
}

#u2283
{
	z-index: 3;
	width: 380px;
	margin-right: -10000px;
}

#u2283_clip
{
	width: 380px;
	height: 75px;
}

#u2283_img
{
	margin-bottom: -19px;
}

#menuu2285
{
	z-index: 5;
	width: 337px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 43px;
}

#u2293
{
	width: 65px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2296
{
	width: 65px;
	padding-bottom: 21px;
}

#u2296:hover
{
	margin: 0px;
}

#u2296:active
{
	margin: 0px;
}

#u2298-4
{
	width: 32px;
	min-height: 13px;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u2296:hover #u2298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2296:active #u2298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2286
{
	width: 54px;
	min-height: 34px;
	margin-right: -10000px;
	left: 67px;
}

#u2289
{
	width: 54px;
	padding-bottom: 21px;
}

#u2296.MuseMenuActive,#u2289:hover
{
	margin: 0px;
}

#u2289:active
{
	margin: 0px;
}

#u2290-4
{
	width: 21px;
	min-height: 13px;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u2296.MuseMenuActive #u2298-4,#u2289:hover #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2289:active #u2290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2312
{
	width: 60px;
	min-height: 34px;
	margin-right: -10000px;
	left: 123px;
}

#u2313
{
	width: 60px;
	padding-bottom: 21px;
}

#u2289.MuseMenuActive,#u2313:hover
{
	margin: 0px;
}

#u2313:active
{
	margin: 0px;
}

#u2316-4
{
	width: 28px;
	min-height: 13px;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u2289.MuseMenuActive #u2290-4,#u2313:hover #u2316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2313:active #u2316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2319
{
	width: 77px;
	min-height: 34px;
	margin-right: -10000px;
	left: 185px;
}

#u2320
{
	width: 77px;
	padding-bottom: 21px;
}

#u2313.MuseMenuActive,#u2320:hover
{
	margin: 0px;
}

#u2320:active
{
	margin: 0px;
}

#u2321-4
{
	width: 45px;
	min-height: 13px;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u2313.MuseMenuActive #u2316-4,#u2320:hover #u2321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2320:active #u2321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2326
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 264px;
}

#u2329
{
	width: 73px;
	padding-bottom: 21px;
}

#u2320.MuseMenuActive,#u2329:hover
{
	margin: 0px;
}

#u2329:active
{
	margin: 0px;
}

#u2329.MuseMenuActive
{
	margin: 0px;
}

#u2330-4
{
	width: 41px;
	min-height: 13px;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u2320.MuseMenuActive #u2321-4,#u2329:hover #u2330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2329:active #u2330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2329.MuseMenuActive #u2330-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu2450
{
	z-index: 55;
	width: 0.01px;
	height: 337px;
	margin-top: 3px;
	position: relative;
}

#u2460
{
	position: absolute;
	width: 381px;
}

#u2460popup
{
	z-index: 56;
}

#u2469
{
	z-index: 57;
	width: 379px;
	height: 306px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	margin-right: -10000px;
	position: relative;
}

#u2470
{
	z-index: 58;
	width: 242px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 8px;
}

#u2470_img
{
	padding-right: 23px;
	padding-bottom: 13px;
}

#u2473-4
{
	z-index: 60;
	width: 268px;
	min-height: 147px;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 8px;
}

#u2473
{
	font-size: 14px;
}

#u2472-3
{
	z-index: 64;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 127px;
}

#u2461
{
	z-index: 67;
	width: 352px;
	height: 273px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 15px 15px 15px ;
	-webkit-border-radius: 0px 15px 15px 15px ;
	-khtml-border-radius: 0px 15px 15px 15px ;
	border-radius: 0px 15px 15px 15px ;
	margin-right: -10000px;
	position: relative;
	padding: 32px 23px 1px 4px;
}

#u2463
{
	z-index: 68;
	width: 251px;
	left: -1px;
	position: relative;
}

#u2462-4
{
	z-index: 70;
	width: 342px;
	min-height: 154px;
	margin-left: 10px;
	margin-top: 6px;
	position: relative;
}

#u2465
{
	z-index: 74;
	width: 313px;
	height: 296px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	-moz-border-radius: 15px 15px 15px 0px ;
	-webkit-border-radius: 15px 15px 15px 0px ;
	-khtml-border-radius: 15px 15px 15px 0px ;
	border-radius: 15px 15px 15px 0px ;
	padding-left: 11px;
	padding-top: 10px;
	padding-right: 55px;
	margin-right: -10000px;
	position: relative;
}

#u2466
{
	z-index: 75;
	width: 160px;
	margin-left: 81px;
	position: relative;
}

#u2468-7
{
	z-index: 77;
	width: 313px;
	min-height: 130px;
	margin-top: 6px;
	position: relative;
}

#u2474
{
	z-index: 84;
	width: 74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 322px;
	left: 148px;
}

#u2476
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u2476:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FDD79D;
	-moz-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin: 0px;
}

#u2476.PamphletThumbSelected
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u2477
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 29px;
}

#u2477:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FDD79D;
	-moz-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	background-color: #999999;
	margin: 0px;
}

#u2475
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	left: 58px;
}

#u2475:hover
{
	-pie-box-shadow: 0px 0px 10px 3px #FDD79D;
	-moz-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(251, 176, 59, 0.5);
	border-color: #000000;
	background-color: #999999;
	margin: 0px;
}

#u2477.PamphletThumbSelected,#u2475.PamphletThumbSelected
{
	-pie-box-shadow: 0px 0px 10px 3px #FFFFFF;
	-moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu2449-12
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 19px;
	position: relative;
}

#u2449-12
{
	z-index: 43;
	width: 340px;
	min-height: 227px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u2449-2
{
	font-size: 26px;
	line-height: 31px;
}

#u2449-3
{
	font-size: 32px;
	line-height: 38px;
}

#u2449-5,#u2449-7
{
	font-size: 17px;
	line-height: 20px;
}

#u2449-8,#u2449-9,#u2449-10
{
	font-size: 24px;
	line-height: 29px;
}

#u2480
{
	z-index: 88;
	width: 358px;
	height: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	border-width: 1px 0px 0px;
}

#pu2283,#pu2282
{
	width: 0.01px;
	position: relative;
}

#u2282
{
	z-index: 2;
	width: 379px;
	padding-bottom: 27px;
	margin-right: -10000px;
	left: 1px;
}

#u2333-4
{
	z-index: 36;
	width: 238px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 107px;
}

#u2334
{
	z-index: 41;
	height: 110px;
	width: 153px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: -20px;
	left: -27px;
}

#page .verticalspacer
{
	clear: both;
}

