#u2398-4
{
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	position: relative;
}

#u2398
{
	font-size: 20px;
}

#u2401
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2399-4
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u2399-4:hover
{
	border-style: none;
	border-color: transparent;
}

#u2399-4.MuseLinkActive
{
	border-color: #000000;
}

#u2399-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u2400-4
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u2400-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u2396-3
{
	position: relative;
}

#u2402-4
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u2402-4:hover p
{
	color: #FBB03B;
	visibility: inherit;
}

#u2399-4.MuseLinkActive p,#u2400-4.MuseLinkActive p,#u2402-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
	text-decoration: underline;
}

