#u2122_clip
{
	overflow: hidden;
}

#u2168
{
	background-color: transparent;
	position: relative;
}

#u2168:hover
{
	background-color: #FBB03B;
}

#u2168:active
{
	background-color: #2E3192;
}

#u2170-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2159
{
	background-color: transparent;
	position: relative;
}

#u2159:hover
{
	background-color: #FBB03B;
}

#u2159:active
{
	background-color: #2E3192;
}

#u2160-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2128
{
	background-color: transparent;
	position: relative;
}

#u2128:hover
{
	background-color: #FBB03B;
}

#u2128:active
{
	background-color: #2E3192;
}

#u2131-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2140
{
	background-color: transparent;
	position: relative;
}

#u2140:hover
{
	background-color: #FBB03B;
}

#u2140:active
{
	background-color: #2E3192;
}

#u2142-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2122,#menuu2124,#u2165,#u2158,#u2125,#u2139,#u2132
{
	position: relative;
}

#u2135
{
	background-color: transparent;
	position: relative;
}

#u2135:hover
{
	background-color: #FBB03B;
}

#u2135:active
{
	background-color: #2E3192;
}

#u2168.MuseMenuActive,#u2159.MuseMenuActive,#u2128.MuseMenuActive,#u2140.MuseMenuActive,#u2135.MuseMenuActive
{
	background-color: transparent;
}

#u2138-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2168.MuseMenuActive #u2170-4 p,#u2159.MuseMenuActive #u2160-4 p,#u2128.MuseMenuActive #u2131-4 p,#u2140.MuseMenuActive #u2142-4 p,#u2135.MuseMenuActive #u2138-4 p
{
	text-decoration: underline;
	font-weight: bold;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2121
{
	border-color: #000000;
	background-color: #FBB03B;
	position: relative;
}

#u2172-4
{
	color: #FFFFFF;
	position: relative;
}

#u2173
{
	vertical-align: top;
	background: url("../../images/u2173.png") no-repeat 27px 27px;
	position: relative;
}

#u2173:hover
{
	background: url("../../images/u2173-r.png") no-repeat 0px 0px;
}

