@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.9983543862918px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F0F0F0;
	padding-bottom: 0px;
}

#pu2122
{
	width: 0.01px;
	position: relative;
}

#u2122
{
	z-index: 3;
	width: 768px;
	margin-right: -10000px;
}

#u2122_clip
{
	width: 768px;
	height: 152px;
}

#u2122_img
{
	margin-bottom: -38px;
}

#menuu2124
{
	z-index: 5;
	width: 507px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 257px;
}

#u2165
{
	width: 98px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2168
{
	width: 98px;
	padding-bottom: 6px;
}

#u2168:hover
{
	margin: 0px;
}

#u2168:active
{
	margin: 0px;
}

#u2170-4
{
	width: 65px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2168:hover #u2170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2168:active #u2170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2158
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u2159
{
	width: 75px;
	padding-bottom: 6px;
}

#u2168.MuseMenuActive,#u2159:hover
{
	margin: 0px;
}

#u2159:active
{
	margin: 0px;
}

#u2160-4
{
	width: 42px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2168.MuseMenuActive #u2170-4,#u2159:hover #u2160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2159:active #u2160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2125
{
	width: 89px;
	min-height: 34px;
	margin-right: -10000px;
	left: 177px;
}

#u2128
{
	width: 89px;
	padding-bottom: 6px;
}

#u2159.MuseMenuActive,#u2128:hover
{
	margin: 0px;
}

#u2128:active
{
	margin: 0px;
}

#u2131-4
{
	width: 57px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2159.MuseMenuActive #u2160-4,#u2128:hover #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2128:active #u2131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2139
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 268px;
}

#u2140
{
	width: 123px;
	padding-bottom: 6px;
}

#u2128.MuseMenuActive,#u2140:hover
{
	margin: 0px;
}

#u2140:active
{
	margin: 0px;
}

#u2142-4
{
	width: 91px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2128.MuseMenuActive #u2131-4,#u2140:hover #u2142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2140:active #u2142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2132
{
	width: 114px;
	min-height: 34px;
	margin-right: -10000px;
	left: 393px;
}

#u2135
{
	width: 114px;
	padding-bottom: 6px;
}

#u2140.MuseMenuActive,#u2135:hover
{
	margin: 0px;
}

#u2135:active
{
	margin: 0px;
}

#u2135.MuseMenuActive
{
	margin: 0px;
}

#u2138-4
{
	width: 82px;
	min-height: 28px;
	margin-right: -10000px;
	top: 3px;
	left: 16px;
}

#u2140.MuseMenuActive #u2142-4,#u2135:hover #u2138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2135:active #u2138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u2135.MuseMenuActive #u2138-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#ppu2360
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2360
{
	z-index: 44;
	height: 90px;
	width: 213px;
	vertical-align: top;
	background: url("../../images/u2360.png") no-repeat 9px 9px;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u2360:hover
{
	background: url("../../images/u2360-r.png") no-repeat 0px 0px;
}

#u2364
{
	z-index: 49;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 287px;
}

#u2364:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 20px 5px rgba(251, 176, 59, 0.5);
	-webkit-box-shadow: 0px 0px 20px 5px rgba(251, 176, 59, 0.5);
	box-shadow: 0px 0px 20px 5px rgba(251, 176, 59, 0.5);
	margin: 1px -10000px 0px 0px;
}

#u2362
{
	z-index: 47;
	height: 71px;
	width: 211px;
	vertical-align: top;
	background: url("../../images/u2362.png") no-repeat 9px 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 566px;
}

#u2362:hover
{
	background: url("../../images/u2362-r.png") no-repeat 0px 0px;
}

#u2369-13
{
	z-index: 51;
	width: 501px;
	min-height: 240px;
	font-size: 24px;
	line-height: 29px;
	margin-left: 134px;
	margin-top: 23px;
	position: relative;
}

#u2369,#u2369-4,#u2369-7
{
	font-size: 24px;
}

#pu2121
{
	width: 0.01px;
	margin-top: 186px;
	position: relative;
}

#u2121
{
	z-index: 2;
	width: 768px;
	padding-bottom: 97px;
	margin-right: -10000px;
}

#u2172-4
{
	z-index: 36;
	width: 238px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 281px;
}

#u2173
{
	z-index: 41;
	height: 110px;
	width: 153px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 307px;
}

#page .verticalspacer
{
	clear: both;
}

